<footer class="footer-content">
<div class="copyright">
        <p><span class="copyleft">&copy;</span> 2020 <a href="http://modebit0.info/"><strong>modebit0.info</strong></a> ―  Hiçbir hakkı saklı değildir, bilginin hakkı olmaz. </p>
     </div>
        
<div id="linklr" style="visibility: hidden">

<a title = "Rootkit Development" href = "http://modebit0.info/2020/12/24/Linux-Kernel-Rootkit-Development-(Part-1)/">Rootkit Geliştirme</a><br>
<a title = "Modebit 0" href = "http://modebit0.info">Modebit 0</a><br>
<a title = "zararlı yazılım" href = "http://modebit0.info">Zararlı Yazılım Geliştirme</a><br>
<a title = "Linux Anti Analysis" href = "http://modebit0.info/2020/11/20/Linux-Anti-Analysis-Teknikleri-Bypass-Yöntemleri/"> Linux Anti Analysis</a><br>    
<a title = "Gamlı Baykuş Kernel Mode Rootkit v 1.0" href = "http://modebit0.info/2020/12/05/gamli-baykus-kernel-mode-rootkit/"> Gamlı Baykuş Kernel Mode Rootkit v 1.0</a><br> 
<a title = "Rootkit Development" href = "http://modebit0.info/2020/12/24/Linux-Kernel-Rootkit-Development-(Part-1)/">Rootkit Geliştirme</a><br>
</div>
</footer>
